<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
        
    <title>Spotitip</title>
</head>
<body>
    <div class="cont bg-black flex gap-2">
        
        <aside class="w-[300px] m-3 flex flex-col gap-y-3 fixed h-[97%]">
            
            <%- include('./layouts/asideTop') %>
            <%- include('./layouts/asideBottom') %>

        </aside>

        <main class="bg-neutral-900 mt-3 mr-3 mb-3 rounded-md ml-[330px]">

            <div class="bg-gradient-to-b from-emerald-800 px-6 py-11 rounded-md flex w-full">

                <%- include('./layouts/mainHeader') %>

            </div>

            <%- include('./layouts/mainContent') %>
            
        </main>
    </div>

    <%- include('./layouts/createModal') %>

    <script src="js/sideBottom.js"></script>
    <script src="js/mainContent.js"></script>
    <script src="js/searchButton.js"></script>
    <script src="js/createPlaylist.js"></script>
    <script src="js/createModal.js"></script>
</body>
</html>