<%- include('./layouts/main/header') %>
<body class="bg-black">
    <div class="cont bg-black flex gap-2 flex-col">
        
        <aside class="w-[300px] m-3 flex flex-col gap-y-3 fixed h-[97%]">
            <%- include('./layouts/main/asideTop') %>
            <%- include('./layouts/main/asideBottom') %>
        </aside>

        <main id="artistScreen" class="bg-neutral-900 mt-3 mr-3 mb-3 rounded-md ml-[330px]">
            <div class="bg-gradient-to-b from-emerald-800 px-6 py-11 rounded-md flex w-full">
                <%- include('./layouts/main/mainHeadArtist') %>
            </div>
            <%- include('./layouts/mainContentArtist') %>
        </main>

        <main id="searchScreen2" class="bg-neutral-900 mt-3 mr-3 mb-3 rounded-md ml-[330px]">
            <div class="bg-gradient-to-b from-emerald-800 px-6 py-11 rounded-md flex w-full">
                <%- include('./layouts/main/mainHeadArtist') %>
            </div>
            <%- include('./layouts/main/searchContentArtist') %>
        </main>

        <%- include('./layouts/main/songAlbum') %>

    </div>

    <%- include('./layouts/modals/createModal') %>
    <%- include('./layouts/modals/createModalSong') %>

    <script src="../js/sideTopArtist.js"></script>
    <script src="../js/sideBottom.js"></script>
    <script src="../js/mainContent.js"></script>
    <script src="../js/searchButton.js"></script>
    <!-- <script src="../js/createAlbum.js"></script> -->
    <!-- <script src="../js/createSong.js"></script> -->
    <script src="../js/modals/createModal.js"></script>
    <script src="../js/modals/createModalSong.js"></script>
    <script src="../js/albumSong.js"></script>
</body>
</html>